.proadt{
    margin-top: 20px;
}
.card{

    border: none !important ;
    .probt{
position: static;
left: 450px;
margin-top: 20px;
.proupdate{
    margin: 10px;
    width: 200px;
    background-color:  #f39874 !important;;
      color: white;
      height: 40px;
      border-radius: 10px !important;
      font-weight: 600;
}
.prochange{
    margin: 10px;
background-color: white !important;
border: 1px solid #f39874 !important;
width: 200px;
      color:#f39874;
      height: 40px;
      border-radius: 10px !important;
      font-weight: 600;
}
}
}