.form-label{
    margin-top: 40px;
    font-weight: 700;
   
}
.changepass{
    margin-top: 20px;
}

.changepbtn{
    position: relative;
    left: 20px;
    width: 300px;
    border: none !important;
    border-radius: 10px !important;
    background-color: #f39874 !important;
    color: #fff !important;
}