.flex{
    // flex-direction: row;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: flex;
    flex-wrap: wrap;
    // justify-content:center;
    // align-items:center;
    // background-color:#C4C4C4;
    // min-height: 100vh;
    .d-flex{
        display: flex;
        flex-wrap: wrap;
        // min-width: 140;
   .sday{
    //    position: relative;
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
       margin: 20px;
       margin-right: 20px;
       font-weight: 700;
       
   }
        
    //     button{
    //        display: flex;
    //        flex-wrap: wrap;
    // }
}
}